[Desktop Entry]
Encoding=UTF-8
Name=Link to GraphicsProgramming.docx - Google Docs
Type=Link
URL=https://docs.google.com/document/d/1eIRObUS0Hh7_GiWv7xaVUaxwNScjejpb/edit
Icon=text-html
Name[en_US]=notes.docx - Google Docs
