[Desktop Entry]
Encoding=UTF-8
Name=Link to Merge Sort in C++
Type=Link
URL=https://gist.github.com/christophewang/1f2da2e44b03778f2f9f
Icon=text-html
